<h2>@Html.LocalizedTitle("FeaturedWork")<div class="featuredWork">
    </div>
</h2>
<a id="featuredWorkLink" href="/">
    <img id="img_featuredWork" src="@Url.Content("~/Content/img/featuredWork_mediaService.png")" alt="Media Service"/>
    <span style="display: none";>
        <strong>Media Service</strong>: Build your home
    </span>
</a>